a:hover {
    opacity: 0.7;
}

.logoDacal {
    letter-spacing: 4px;
    width: 10vw;
    height: 9vh;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    background-color: transparent;
    height: 10vh;
    /* o position transform é responsavel por fizar a barra de pesquisa na parte superior so site */
    position: static;
}

/* dar uma estudada em position  'absolute'/*
  
  /*
  ----------------------------------------------------------
   Parte superior do código onde informa o valor da promoção
  ----------------------------------------------------------
  */

.nav-superior {
    border-bottom: solid 1px black;
    background-color: white;
}

.informativo_superior {
    background-color: #ff3131;
    width: 100vw;
    text-align: center;
}

.informativo_superior p {
    color: #000000;
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2vh;
}

/*Icons no canto superior direito */


.nav-list li:hover {
    opacity: 0.7;
}

.nav-list {
    /*  tirando o estilo da lista (as bolinhas) */
    list-style: none;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.nav-list li {
    /* é usada para controlar o espaço em branco entre as letras */
    letter-spacing: 0.5vh;
    /* Afastar os itens uns dos outros */
    margin-left: 15vh;
    color: rgb(3, 3, 3);
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

#liqui a {
    color: #B56F2A;
}

.icons {
    /*  tirando o estilo da lista (as bolinhas) */
    list-style: none;
    display: flex;
}

.sair {
    width: 4vw;
    height: 7vh;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}